color1 = #16AACE
color2 = #FE4080
ctext = #222
bdcolor = #222
bdcolorlight = #ddd
ctextlight = #aaa
cerror = #E74646
fftext = 'Avenir Next', Helvetica, Arial, sans-serif
fftitle = 'Blanch', Helvetica

wrapmin = 960px
wrapmax = 1200px

